.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus {
  background-color:#EEEEEE;
  color: black;
}

.nav-tabs > li > a:hover {
  background-color: #727272;
}

.nav-tabs > li > a {
  color: black;
  margin-bottom: 10%;
  background-color: #727272;
}


