.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus {
  background-color:#EEEEEE;
  color: black;
}

.nav-tabs > li > a:hover {
  background-color: #727272;
}

.nav-tabs > li > a {
  color: black;
  margin-bottom: 10%;
  background-color: #727272;
}


.nav-tabs > li {
  margin-bottom: -15px;
}

.form-column {
  max-width: 800px;
  margin: 0 auto;
}

.new-company-header {
  margin: 0;
  font-style: italic;
}

.last-company-header {
  margin-top: 10px;
}

.new-company-forms {
  .form-group {
    margin-bottom: 0;
  }
}

.radio-inline {
  padding-top: 5px;
}
