

.formtag{
font-family: AvenirNextLTPro !important;
font-size:13pt;
color:#949494;
 margin-top: 8px;
}
.margin-top3rd
{
margin-top: -25px;
}
.font-form {
  font-family: Goudy OldT !important;
  color: #212121 !important;
  font-size:18pt !important;
}

.navbar-toggle {
  background-color: black;
  background: image-url("icon_menu.png");
  background-size: 100% 100%;
  height: 34px;
  width: 38px;
}

.navdesign{
/*margin-top:-40px;
margin-bottom:30px;*/
}

a:focus {
	outline: medium none;
}

.navbackground {
  background-color: #8a8a8a;
  color: #000;
}

#myTab > li {
    width: 50%;
}

#myTab > li > a {
	  border-radius: 0;
    font-size: 23px;
    margin-right: 0;
    padding: 11px 0;
    text-align: center;
    outline: 0;
    border: 0;
}

.my_div_form {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.my_div_form2 {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.my_div_form label {
	font-weight: bold;
}

.my_div_form2 label ,.my_div_form2 h3{
	font-weight: bold;
}

.font-weight {
font-weight: none !important;
}

.marginleft {
  padding-left: 55px;
}

.left-margin {
  margin-left: 25px;
}

/* complete */

/*
.listheading{
font-family: Goudy Old Style T Bold !important;
color:#2C2C2C;
font-size:18px;
font-weight:normal;
}
.listsubheading{
font-family: Avenir Next Regular !important;
color:#009BDA;
font-size:14px;
font-weight:normal;
}
.listsubheadingopp{
font-family: Avenir Next Regular !important;
color:#858585;
font-size:14px;
font-weight:normal;
}
*/

.sublistsubheading{
font-family: Avenir Next Regular !important;
color:#2C2C2C;
font-size:14px;
font-weight:normal;
}

.subheadingfont_mission{
font-family: Avenir Next Regular !important;
color: #858585 !important;
font-size:18px;
}

.font-form {

font-family: Goudy Old !important;
color: #212121 !important;
}
.navdesign{
/*margin-top:-40px;
margin-bottom:30px;*/
}
.navbackground{
 background-color: #8a8a8a;
 color: #000;
}

* {
	margin:0;
	padding:0;
}
body {
    color: #212121 ;
}



select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #E6E6E6;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

select {
  font-size: 32px;
}



.formbackground
{
background-color:#EEEEEE;
border: 1px solid #AAAAAA;
}


 

 @media only screen and (max-device-width:480px){
 /* pd code */ 
 
 
 
.hidediv
{
display:none !important;

}

.hidedivmargin1
{
margin-top:-40px;
}
 
.hidedivmargin2
{
margin-top:-44px;
} 
 
.hidedivmargin3
{
margin-top:-75px;
}  
 
.hidedivmargin4
{
margin-top:-42px;
}  

.hidedivall1
{
margin-top:-60px;
} 


.hidedivall2
{
margin-top:-60px;
} 



.hidedivall3
{
margin-top:-80px;
} 


 
 
 
 .centeryesno
 {
 text-align:center !important;
 }
 /*
input[type="text"] {
width:100% !important;
  padding: 10px;
  border: 2px solid #969696 ;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius:4px;
}

input[type="text"]:focus, input[type="text"].focus {
  border: solid 1px #5B9AE5;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
  width:100% !important;
  border-radius:4px;
}

input[type="url"] {
width:100% !important;
  border: 2px solid #969696 ;
  padding: 10px;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius:4px;
}

input[type="url"]:focus, input[type="text"].focus {
   border: 2px solid #969696 ;
   border-radius:4px;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
  width:100% !important;
  border-radius:4px;
}


input[type="number"] {
width:100% !important;
  padding: 10px;
   border: 2px solid #969696 ;
   border-radius:4px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius:4px;
}

input[type="number"]:focus, input[type="text"].focus {
  border: solid 1px #5B9AE5;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
  width:100% !important;
  border-radius:4px;
}
 */
.marginleft{
padding-left: 0px !important;
}

.inputmobile
{
/*margin-left:-15px;*/
}   

.left1{
float:left;
margin-right:15px;
text-align:center;
}
 
 /* pd complete */ 
 
 
 
.left1{
float:left;
margin-right:15px;
}

.formbackground
{
background-color:#FFFFFF;
border: none;
}

.textcenter {
  text-align:center;
}


.margin-left{


}

}






/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.well-second{min-height:20px;padding:19px;}



.label1 {
     background-image: url("../images/select_img.png");
    background-size: 100% 100%;
    border: medium none;
    box-shadow: none;
    height: 42px;
    position: relative;
}


/*  css by dev1 */ 
/*
input[type="text"]
{
width:95% !important;
height:35px !important;
padding: 0 10px 0 7px;
border-radius:1px;
}
*/ 

.left-margin{
margin-left:25px;


}

/*
input[type="text"] {
width:100% ;
  padding: 10px;
   border-radius: 7px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus, input[type="text"].focus {
  border: solid 1px #5B9AE5;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
  width:95% !important;
}

input[type="url"] {
width:100% ;
  padding: 10px;
   border-radius: 7px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.padding_tab {
    padding: 0 30px;
}
input[type="url"]:focus, input[type="text"].focus {
  border: solid 1px #5B9AE5;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
  width:95% !important;
}


input[type="number"] {
width:95% !important;
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="number"]:focus, input[type="text"].focus {
  border: solid 1px #5B9AE5;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
  width:95% !important;
}




input[type="radio"]:checked {
     background-color:#498FE1;
}
*/


.navbar-brand span{
	color:#FFF;
}
body {
     /*padding-top: 95px;*/
}
.diff_div{
	font-size:19px;
	 margin-bottom: 25px;
}
.arrow_res {
    color: #0297d9;
    font-size: 28px;
}
.listing .media-object{
border: 1px solid #858585;
 height: 140px;
 width:115px;
}
.padding_listing{
	
   margin-right: 27px; 
}
.navbar-collapse.collapse{
		display:none !important;
}
#contact-buttons-bar{
	position:fixed;
	left: 0;
	top:29%;
}
.contact-button-link{
	box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 22px;
    height: 40px;
    left: 0;
   
    margin-bottom: 1px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 40px;
	padding: 8px;
}
.contact-button-link:hover{
	color:#FFF;
}
.contact-button-link.facebook {
    background: #3b5998 none repeat scroll 0 0;
}
.contact-button-link.linkedin {
    background: #0077B5 none repeat scroll 0 0;
}
.contact-button-link.gplus {
    background: #DB4437 none repeat scroll 0 0;
}
.contact-button-link.phone {
    background: #8E8E93 none repeat scroll 0 0;
}
.contact-button-link.email {
    background: #8E8E93 none repeat scroll 0 0;
}
.listing .well{
	background-color:#FFF;
	border:none;
}
.contain_fix_table{
	
    display: inline-block;
    margin: 0 auto;
    width: 600px;
	

}
.contain_fix_table table{
	width:100%;
}
.contain_fix_table thead{
	color: #0187d0;
}
.contain_fix_table thead tr{
	border-bottom:3px solid #000
}
.contain_fix_table th {
	padding-left:0 !important;
}
.contain_fix_table td {
    text-align: left;
	width: 50%;
    padding-left:0 !important;
}

.contain_fix {
    display: inline-block;
    margin: 0 auto;
    max-width: 600px;
	 background-color: #d7d7d7;
}
.share_h1 {
     font-size: 20px;
	font-family: Helvetica Light !important;
	color:#000;
	margin-bottom:30px;
}
#share_div .contact-button-link{
	 display: inline-block;
	   height: 55px;
	   width: 55px;
	 padding: 16px;
}
.share_main {
    margin-bottom: 22px;
}
.bg_images{
	background-image:url(../images/flags.jpg);
	  background-size: 100% 100%;
	  min-height: 700px;
}
.bg_images .diff_div,.font_color{
	color:#FFF;
}
.bigger_font {
    font-size:36px;
    font-family: Gill Sans Bold !important;
	color:#ffffff;
    margin-top: 100px;
}
.button_div {
    margin-top: 25px;
}
.button_div .btn{
/*
	background-color:#0187D0;
	font-weight: bold;
	height: 46px;*/
}
.smaller_font {
    
    font-size: 19px;
    font-weight: bold;
    margin-top: 20px;
}
.margin_bottom{
	margin-bottom:20px;
}
.width_my {
    padding: 0 32px;
	margin-bottom: 15px;
}
.bg_vg_list{
border:2px solid #AAAAAA ;background-color:#FFFFFF;
}
.contain_fix_table td{
	border:none !important;
	
}

/*.listsubheading , .listsubheadingopp{
  position: relative;
  z-index : 1;
}*/
/*
.listsubheadingopp:before{
	content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 100%;  
  border-bottom:1px solid #8E8E93;
}
.listsubheading:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 90%;  
  border-bottom:1px solid #8E8E93;
}*/
@media (max-width:768px){
	.bg_vg_list{
		background-color:#B6B6B6;
	}
	.width_my{
		padding:0
	}
	.marg_res{
		margin-bottom:0;
	}
	.nav-tabs > li > a{
		background-color:#0288D1;
	}

	.padding_tab {
    padding: 0 ;
}
#myTab > li > a{
	font-size: 16px;
}
	.font_color {
    padding-left: 15px;
    padding-right: 15px;
}
.bigger_font{
	  margin-top:0;
}
	.align_center_res{
		text-align:center;
	}
	body {
    padding-bottom: 54px;
}
.listsubheading,.listsubheadingopp{
	padding: 5px;
}
.listsubheading:before , .listsubheadingopp:before{
	width:100%
}
	.contain_fix_table th,.contain_fix_table td{
		padding: 0 !important;
	}
	.contain_fix{
		width:100%
	}
	.contain_fix_table{
		width: 100%;
	}
	.listing .media-body{
	display: inline-block;
    width: 100%;
	}
	.navbar-toggle {
		color: #0297d9 !important;
		margin-bottom: 7px;
	}
	.padding_listing{
		margin-right: 7px;
		margin-bottom:7px;
	}
	.collapse.in{
		display:block !important;
	}
	#contact-buttons-bar{
		 background-color: #222222;
   
    left: 0;
    padding-bottom: 3px;
    padding-top: 6px;
    position: fixed;
    top: auto;
	bottom:0;
    width: 100%;
	}
	.contact-button-link{
		display:inline-block;
	}
	.under_contact {
		margin: 0 auto;
		max-width: 232px;
	}
	#share_div .contact-button-link {
    display: inline-block;
    height: 43px;
    padding: 11px;
    width: 43px;
}/*
.share_h1 {
    font-size: 18px;
	font-family: Helvetica Light !important;
}
	*/
}

@font-face {
  font-family: 'Gouldy';
  src: url('Gouldy.ttf') format('truetype');
}
.font_Gouldy{
    font-family: Goudy Old Style T Bold;
    font-size: 22px;
	font-style:normal;
	font-weight:normal;
	}

div >a :hover{
    color: white;
}

.nav > li > a { 
  padding: 10px 90px;
}

.white_text{
    color: white;
}
.black_text{
    color:black;    
}

.black_text:hover{
    color:black;    
}
a:hover{
text-decoration:none;
}
