<ul id='flash_message' class='flash-message'>
<%- if flash %>
  <%- flash.each do |kind, message| %>
    <li class="notification fade in <%= kind %>" data-bindable='auto-dismiss'>
      <p><%= message %></p>
    </li>
  <%- end %>
<%- end %>
</ul>
