<div id="header">
  <div class="container">
    <div class="logo"><a href="/">VetCo</a></div>
    <nav>
      <%= button_to 'Add Company', new_company_path, class: 'btn' %>
    </nav>
  </div>
</div>
